# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# Maven Target
/.target/
/fashionAppi/target

# Eclipse Classpath
.classpath

/bin/

/.metadata/

/fashionAppi/src/main/java/services
/fashionAppi/src/main/java/controller
/fashionAppi/src/main/java/model